
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=DM+Serif+Display&family=Nunito:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


section_header {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-family: 'Kalam', cursive;
    color: #C63E4B;
}

h2 {
    font-size: 3rem;
    font-family: 'Kalam', cursive;
    color: #D17450;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.topnav {
    background-color: #F0E6DC;
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -30px;
}

.topnav a {
    color: #85654E;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 2.2rem;
    text-align: center;
}

.topnav a:hover {
    color: #634C3B;
}

body {
    background-color:#F0E6DC;
}

p {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    color: #382716;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}

form {
    text-align: center;
    font-size: 1.2rem;
}

.divider-home {
    background: url(stars2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80vh;

}

input {
    text-align: center;
}

table, td {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    color: #382716;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 330px;
}
